header h3{
    font-size: 100;
    background-color: rgb(255, 139, 197);
    color: rgb(255, 255, 255);
}
header h1{
     font-size: 80;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 139, 197);
}
footer h2{
    font-size: 50;
    background-color: rgb(255, 139, 197);
    color: rgb(255, 255, 255);
}
body{
    background-color: rgb(255, 255, 255);
}

img {
  height: 40px;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

section {
  padding-left: 20px;
  padding-right: 20px;
   font-size: 100;
    background-color: rgb(255, 189, 233);
    color: rgb(161, 61, 108);
}
