header h3{
    font-size: 100;
    background-color: rgb(255, 139, 197);
    color: rgb(240, 146, 146);
}
header h1{
     font-size: 80;
    background-color: rgb(228, 62, 62);
    color: rgb(255, 139, 197);
}
footer h2{
    font-size: 50;
    background-color: rgb(255, 139, 197);
    color: rgb(250, 152, 152);
}
body{
    background-color: rgb(255, 107, 107);
}

img {
  height: 40px;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

section {
  padding-left: 20px;
  padding-right: 20px;
   font-size: 100;
    background-color: rgb(253, 78, 195);
    color: rgb(161, 61, 108);
}
